{% extends 'doctor-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body>
    
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="row justify-content-center position-relative" style="margin-top:-100px; z-index: 1;">
                <div class="col-lg-8">
                    <div class="bg-white rounded p-5 m-5 mb-0">
                        <h2 align="center">Profile</h2>
                        <br><br>
                        {% if msg %}
                            <b style="color:blue;">{{msg}}</b>
                        {% endif %}
                        <form method="post" action="{% url 'doctor-profile' %}" enctype="multipart/form-data">
                            {%  csrf_token %}
                            <div class="row g-3">
                                
                                <div class="col-12">
                                    <input type="text" class="form-control bg-light border-0" value="{{user.fname}}" name="fname" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control bg-light border-0" value="{{user.lname}}" name="lname" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control bg-light border-0" value="{{user.email}}" name="email" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control bg-light border-0" value="{{user.mobile}}" name="mobile" style="height: 55px;">
                                </div>
                               
                                <div class="col-12">
                                    <textarea class="form-control bg-light border-0" rows="5" placeholder="Address" name="address">{{user.address}}</textarea>
                                </div>
                                <div class="col-12">
                                    <img src="{{user.profile_pic.url}}" width="100px" height="100px">
                                </div>
                                <div class="col-12">
                                    <input type="file" class="form-control bg-light border-0" name="profile_pic">
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control bg-light border-0" rows="5" placeholder="Clinic Address" name="clinic_address">{{doctor.address}}</textarea>
                                </div>
                                 <div class="col-12">
                                    <input type="text" class="form-control bg-light border-0" value="{{doctor.qualification}}" placeholder="Qualification" name="qualification" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control bg-light border-0" value="{{doctor.speciality}}" placeholder="Speciality" name="speciality" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

</body>

</html>
{% endblock %}