{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body>
    
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="row justify-content-center position-relative" style="margin-top:-100px; z-index: 1;">
                <div class="col-lg-8">
                    <div class="bg-white rounded p-5 m-5 mb-0">
                        <h2 align="center">Sign Here</h2>
                        <br><br>
                        {% if msg %}
                            <b style="color:blue;">{{msg}}</b>
                        {% endif %}
                        <form method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
                            {%  csrf_token %}
                            <div class="row g-3">
                                <div class="col-12">
                                   <select name="usertype" class="form-control bg-light border-0">
                                       <option>---Select User Type---</option>
                                       <option value="patient">Patient</option>
                                       <option value="doctor">Doctor</option>
                                   </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control bg-light border-0" placeholder="Your First Name" name="fname" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control bg-light border-0" placeholder="Your Last Name" name="lname" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control bg-light border-0" placeholder="Your Email" name="email" id="email" style="height: 55px;">
                                    <span id="email_error"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control bg-light border-0" placeholder="Your Mobile" name="mobile" style="height: 55px;">
                                </div>
                               
                                <div class="col-12">
                                    <textarea class="form-control bg-light border-0" rows="5" placeholder="Address" name="address"></textarea>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="password" class="form-control bg-light border-0" placeholder="Your Password" name="password" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="password" class="form-control bg-light border-0" placeholder="Your Confirm Password" name="cpassword" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <input type="file" class="form-control bg-light border-0" name="profile_pic">
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Sign Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
<script>
          $("#email").change(function(){
            var email=$(this).val();

            $.ajax({
              url: '/ajax/validate_email/',
              data: {
                'email': email
              },
              dataType: 'json',
              success: function (data) {
                if (data.is_taken) {
                  /*document.getElementById("email").style.border="5px solid red";*/
                  document.getElementById("email_error").innerHTML="This Email ID Is Already Registered";
                }else{
                  document.getElementById("email_error").innerHTML="";
                }
              }
            });
          });

        </script>
</body>

</html>
{% endblock %}